<div class="content">
    <div class="carts">
        <h2>CARTELERA</h2><br>
        <div class="cart">
            <img class="imgC" src="/cart1.jpg">
            <p>DJANGO</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart2.jpg">
            <p>INTESAMENTE</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart3.jpg">
            <p>INTESAMENTE 2</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart4.jpg">
            <p>WINNIE THE POOH</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart5.jpg">
            <p>HACHIKO 2</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart6.jpg">
            <p>DEADPOOL 3</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart1.jpg">
            <p>DJANGO</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart1.jpg">
            <p>DJANGO</p>
        </div>
        <div class="cart">
            <img class="imgC" src="/cart1.jpg">
        </div>
    </div>
</div>
